---
import Layout from "@/layouts/Layout.astro";
import SlotMachine from "@/components/SlotMachine.astro";
---

<Layout>
  <div
    id="slot"
    class="min-h-screen bg-background flex-col flex justify-center items-center relative overflow-y-auto pb-32 md:px-4 xl:px-0"
  >
    <div class="text-center my-6">
      <h1
        class="text-white text-center text-4xl md:text-5xl lg:text-6xl font-bowlby mb-4"
        id="heading"
      >
        Tech stack slot machine
      </h1>
      <p class="text-white/80 font-bowlby md:text-2xl">
        Find the tech stack for your next SaaS!
      </p>
    </div>

    <SlotMachine />
  </div>
  <footer
    class="w-full text-center py-6 px-4 text-sm md:text-base bg-background"
  >
    <div class="text-white max-w-lg mx-auto">
      I create playful and fun projects for you to explore and enjoy. A follow
      on <a
        href="https://x.com/anurag__kochar"
        target="_blank"
        class="text-sky-500 underline hover:text-sky-600">Twitter</a
      > would be greatly appreciated!
    </div>
  </footer>
</Layout>

<script is:inline>
  console.log(
    `%cGambling is fundamental to life - %cPSO J318.5-22`,
    "color: #FF5733; font-weight: bold; font-size: 20px;", // Bright orange color
    "color: #33FF57; font-weight: bold; font-size: 20px;" // Bright green color
  );
</script>
