---
import Reels from "./Reels.astro";
import Controls from "./Controls.astro";
---

<div class="flex gap-4 justify-center items-start md:flex-row flex-col">
  <Reels />
  <Controls />
</div>

<script>
  import { SMSoundService } from "@/scripts/sound-service";
  import { initializeSlotMachine } from "../scripts/slotMachine";
  import { initializeSoundToggle } from "../scripts/soundToggle";
  const shareOnX = document.querySelector("#shareOnX");

  document.addEventListener("DOMContentLoaded", () => {
    SMSoundService.blipSound.load();
    initializeSlotMachine();
    initializeSoundToggle();

    shareOnX?.addEventListener("click", () => {
      window.open(
        "https://x.com/intent/post?url=https://th.bing.com/th/id/OIP.k2LZC5ZIIDQUr0EO6zNCFgHaE6?rs=1&pid=ImgDetMain",
        "_blank"
      );
    });
  });
</script>

<style is:global>
  .reel {
    overflow: hidden;
    width: 20%;
    height: 100%;
    position: relative;
  }

  .reel > .icons {
    position: relative;
  }

  .reel > .icons > img {
    width: calc(100% + 6px);
    margin: -3px 0 0 -3px;
    height: auto;
    border-bottom: 1px solid #27272a;

    /* enable gpu accelaration, fixes iOS flicker */
    transform: translate3d(0, 0, 0);
  }

  #slot.inverted .reel {
    transform: scaleY(-1);
  }

  #slot.inverted .reel > .icons > img {
    transform: scaleY(-1);
  }
</style>
